@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .liquid-glass {
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(4px);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.08);
  }
  .liquid-glass-strong {
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(50px);
  }
}
